@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --primary: #feb803;
  --primary-red: #ff0d69;
  --primary-blue: #0080df;
  --primary-boldgray: #38444f;
  --secondary-dash: #1f2937;
  --thired-dash: #0f172a;
  --fourth-dash: #606d7a;
  --second-text: #94a3b8;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-red: var(--primary-red);
  --color-primary-blue: var(--primary-blue);
  --color-primary-boldgray: var(--primary-boldgray);
  --color-secondary-dash: var(--secondary-dash);
  --color-thired-dash: var(--thired-dash);
  --color-fourth-dash: var(--fourth-dash);
  --color-second-text: var(--second-text);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --success: var(--success);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db;
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

button {
  cursor: pointer;
}

@layer components {
  .btn-hover {
    @apply hover:bg-white cursor-pointer hover:text-black hover:scale-110 duration-200 border border-transparent p-2 flex items-center justify-center rounded-sm text-white;
  }

  .danger-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-red-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-red-400 duration-200;
  }

  .cancle-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-gray-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-gray-400 duration-200;
  }

  .info-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-primary rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-primary duration-200;
  }

  .close-btn {
    @apply w-10 h-10 cursor-pointer bg-white text-primary-boldgray hover:scale-110  shadow-md flex items-center absolute top-2 left-2 justify-center rounded-md hover:bg-red-300 hover:text-white duration-200;
  }

  .submit-btn {
    @apply w-1/4 max-lg:w-1/2 max-md:w-[90%] max-sm:w-[95%] rounded-md bg-primary border border-transparent text-white text-center shadow-sm py-2 hover:bg-white hover:border-primary hover:scale-110 hover:text-black cursor-pointer my-3  mx-auto duration-200;
  }

  .input-style {
    @apply border rounded-md outline-transparent focus:outline-sky-400 duration-200 p-2 w-full border-gray-300;
  }

  .input-style.error {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .input-container {
    @apply relative w-full;
  }

  .input-label {
    @apply my-2 text-sm text-secondary-dash pb-2   border-b border-sky-300 w-fit ml-auto;
  }

  .select-style {
    @apply rounded-md w-full outline-none border border-gray-300 p-2;
  }

  .popup-main-bg {
    @apply w-full h-screen flex items-center justify-center bg-black/50 fixed top-0 left-0 z-[999999] backdrop-blur-lg;
  }
}

.hidden-scrollbar {
  /* لجميع المتصفحات */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* spin loading */
.loader {
  position: relative;
  border: 24px solid;
  border-color: #fff transparent #fff transparent;
  animation: rotate 2s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid transparent;
  border-left-color: #ff3d00;
  position: absolute;
  left: -24px;
  top: -24px;
  animation: prix 1s infinite ease-in;
  transform-origin: 0% 100%;
}
.loader:before {
  border-color: transparent #ff3d00 transparent transparent;
  transform-origin: 100% 0%;
  animation-delay: 0.5s;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prix {
  20%,
  80% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-90deg);
  }
}
