@import "tailwindcss";
/* @custom-variant dark (&:where(.dark, .dark *)); */

:root {
  --primary: #feb803;
  --primary-red: #ff0d69;
  --primary-blue: #0080df;
  --primary-boldgray: #38444f;
  --secondary-dash: #1f2937;
  --thired-dash: #0f172a;
  --fourth-dash: #606d7a;
  --second-text: #94a3b8;
  --success: #28a745;
  --danger: #dc3545;
  --warning: #ffc107;
  --info: #17a2b8;
  --background: oklch(1 0 0); /* #ffffff */
  --foreground: oklch(0.25 0 0); /* #374151 */
  --card: oklch(0.98 0 0); /* #f9fafb */
  --card-foreground: oklch(0.25 0 0); /* #374151 */
  --popover: oklch(1 0 0); /* #ffffff */
  --popover-foreground: oklch(0.25 0 0); /* #374151 */
  /* --primary: oklch(0.55 0.15 200); */
  --primary-foreground: oklch(1 0 0); /* #ffffff */
  --secondary: oklch(0.35 0 0); /* #4b5563 */
  --secondary-foreground: oklch(1 0 0); /* #ffffff */
  --muted: oklch(0.98 0 0); /* #f9fafb */
  --muted-foreground: oklch(0.25 0 0); /* #374151 */
  --accent: oklch(0.75 0.15 160); /* #34d399 emerald-500 */
  --accent-foreground: oklch(1 0 0); /* #ffffff */
  --destructive: oklch(0.6 0.2 25); /* #ef4444 */
  --destructive-foreground: oklch(1 0 0); /* #ffffff */
  --border: oklch(0.9 0 0); /* #e5e7eb */
  --input: oklch(0.96 0 0); /* #f3f4f6 */
  --ring: oklch(0.55 0.15 200 / 0.5); /* rgba(8, 145, 178, 0.5) */
  --chart-1: oklch(0.6 0.15 35); /* #d97706 */
  --chart-2: oklch(0.45 0.15 140); /* #15803d */
  --chart-3: oklch(0.55 0.15 200); /* #0891b2 */
  --chart-4: oklch(0.75 0.15 160); /* #34d399 */
  --chart-5: oklch(0.6 0.2 25); /* #ef4444 */
  --radius: 0.5rem;
  --sidebar: oklch(0.98 0 0); /* #f9fafb */
  --sidebar-foreground: oklch(0.25 0 0); /* #374151 */
  --sidebar-primary: oklch(0.55 0.15 200); /* #0891b2 */
  --sidebar-primary-foreground: oklch(1 0 0); /* #ffffff */
  --sidebar-accent: oklch(0.75 0.15 160); /* #34d399 */
  --sidebar-accent-foreground: oklch(1 0 0); /* #ffffff */
  --sidebar-border: oklch(0.9 0 0); /* #e5e7eb */
  --sidebar-ring: oklch(0.55 0.15 200 / 0.5); /* rgba(8, 145, 178, 0.5) */
}

@theme inline {
  --color-primary: var(--primary);
  --color-primary-red: var(--primary-red);
  --color-primary-blue: var(--primary-blue);
  --color-primary-boldgray: var(--primary-boldgray);
  --color-secondary-dash: var(--secondary-dash);
  --color-thired-dash: var(--thired-dash);
  --color-fourth-dash: var(--fourth-dash);
  --color-second-text: var(--second-text);
  --color-success: var(--success);
  --color-danger: var(--danger);
  --color-warning: var(--warning);
  --color-info: var(--info);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@media (prefers-color-scheme: dark) {
  :root {
    --success: var(--success);
  }
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--color-primary);
}

::-webkit-scrollbar-track {
  background-color: var(--background);
}

button {
  cursor: pointer;
}

input,
textarea {
  outline: none;
}

@layer components {
  .c-container {
    @apply xl:w-[90%] lg:w-[95%] w-[98%] mx-auto px-4 py-2;
  }

  .btn-hover {
    @apply hover:bg-white cursor-pointer hover:text-black hover:scale-110 duration-200 border border-transparent p-2 flex items-center justify-center rounded-sm text-white;
  }

  .danger-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-red-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-red-400 duration-200;
  }

  .cancle-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-gray-400 rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-gray-400 duration-200;
  }

  .info-btn {
    @apply px-4 py-2 cursor-pointer  max-md:px-2 max-md:py-1 flex items-center gap-3 bg-primary rounded-md text-white  border border-transparent hover:scale-110 hover:bg-white hover:text-black hover:border-primary duration-200;
  }

  .close-btn {
    @apply w-10 h-10 cursor-pointer bg-white text-primary-boldgray hover:scale-110  shadow-md flex items-center absolute top-2 left-2 justify-center rounded-md hover:bg-red-300 hover:text-white duration-200;
  }

  .submit-btn {
    @apply w-1/4 max-lg:w-1/2 max-md:w-[90%] max-sm:w-[95%] rounded-md bg-primary border border-transparent text-white text-center shadow-sm py-2 hover:bg-white hover:border-primary hover:scale-110 hover:text-black cursor-pointer my-3  mx-auto duration-200;
  }

  .input-style {
    @apply border rounded-md outline-transparent focus:outline-sky-400 duration-200 p-2 w-full border-gray-300;
  }

  .input-style.error {
    @apply border-red-500 focus:ring-red-500 focus:border-red-500;
  }

  .input-container {
    @apply relative w-full;
  }

  .input-label {
    @apply my-2 text-sm text-secondary-dash pb-2   border-b border-sky-300 w-fit ml-auto;
  }

  .select-style {
    @apply rounded-md w-full outline-none border border-gray-300 p-2;
  }

  .popup-main-bg {
    @apply w-full h-screen flex items-center justify-center bg-black/50 fixed top-0 left-0 z-[999999] backdrop-blur-lg;
  }

  .select-effect {
    @apply shadow-md shadow-white hover:shadow-primary hover:scale-110 p-2 border-2 border-transparent hover:border-primary cursor-pointer duration-300;
  }
}

button:disabled {
  cursor: not-allowed;
}

.hidden-scrollbar {
  /* لجميع المتصفحات */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
}

/* main loading */
.loader {
  position: relative;
  border: 24px solid;
  border-color: #fff transparent #fff transparent;
  animation: rotate 2s linear infinite;
}
.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid transparent;
  border-left-color: #ff3d00;
  position: absolute;
  left: -24px;
  top: -24px;
  animation: prix 1s infinite ease-in;
  transform-origin: 0% 100%;
}
.loader:before {
  border-color: transparent #ff3d00 transparent transparent;
  transform-origin: 100% 0%;
  animation-delay: 0.5s;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prix {
  20%,
  80% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(-90deg);
  }
}

/* end main loading */

/* spin loader */

.spin-loader {
  width: 72px;
  height: 72px;
  border: 3px solid #fff;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  box-sizing: border-box;
  animation: rotation 0.6s linear infinite;
}
.spin-loader::after {
  content: "";
  box-sizing: border-box;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 82px;
  height: 82px;
  border-radius: 50%;
  border: 8px solid;
  border-color: var(--primary) transparent;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end spi loader */
